---
import { Image } from "astro:assets";

import { Code, Mail, Cookie } from "@lucide/astro";

import { useTranslations } from "../i18n/utils";
import type { Locale } from "../i18n/config";

import ContactButton from "../components/ContactButton/ContactButton.astro";

import GitHubLogoDark from "../assets/github_dark.svg";
import GitHubLogoLight from "../assets/github_light.svg";
import LinkedInLogoDark from "../assets/linkedin_dark.svg";
import LinkedInLogoLight from "../assets/linkedin_light.svg";
import CookiesButton from "./CookiesButton/CookiesButton.astro";

const t = useTranslations(Astro.currentLocale as Locale);

const GITHUB_LINK = "";
const LINKEDIN_LINK = "";
---

<footer class="footer">
  <div class="max-width">
    <div class="footer__content">
      <div class="footer__developed">
        <Code class="footer__icon" aria-label={t("Labels.developed")} />
        <span class="footer__text">
          {t("Labels.in")} La Paloma, Rocha, Uruguay
        </span>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu__item">
          <a
            class="footer__menu__link"
            target="_blank"
            rel="noreferrer nofollow noopener"
            href={GITHUB_LINK}
            aria-label="GitHub"
          >
            <Image
              src={GitHubLogoDark}
              alt="GitHub"
              class="footer__menu__icon footer__menu__icon--dark"
            />
            <Image
              src={GitHubLogoLight}
              alt="GitHub"
              class="footer__menu__icon footer__menu__icon--light"
            />
          </a>
        </li>
        <li class="footer__menu__item">
          <a
            class="footer__menu__link"
            target="_blank"
            rel="noreferrer nofollow noopener"
            href={LINKEDIN_LINK}
            aria-label="LinkedIn"
          >
            <Image
              src={LinkedInLogoDark}
              alt="LinkedIn"
              class="footer__menu__icon footer__menu__icon--dark"
            />
            <Image
              src={LinkedInLogoLight}
              alt="LinkedIn"
              class="footer__menu__icon footer__menu__icon--light"
            />
          </a>
        </li>
        <li class="footer__menu__item">
          <ContactButton>
            <span
              class="footer__menu__link"
              aria-label={t("Labels.contact-me")}
            >
              <Mail class="footer__menu__icon" />
            </span>
          </ContactButton>
        </li>
        <li class="footer__menu__item">
          <CookiesButton />
        </li>
      </ul>
    </div>
  </div>
</footer>

<style is:global>
  .footer {
    background-color: var(--bg-color-footer);
    padding: 1rem;
  }

  .footer__content {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  .footer__developed {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  .footer__icon {
    color: var(--color-text);
    display: block;
    width: 1.25rem;
  }

  .footer__text {
    color: var(--color-text);
    font-size: 1.125rem;
  }

  .footer__menu {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .footer__menu__link {
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    display: block;
    font-size: 2rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer__menu__link:hover {
    color: var(--color-accent);
  }

  .footer__menu__icon {
    display: block;
    height: 2rem;
    width: auto;
    transition: opacity 0.3s;
  }

  .footer__menu__icon--light {
    inset: 0;
    opacity: 0;
    position: absolute;
  }

  .theme-light .footer__menu__icon--light {
    opacity: 1;
  }

  .theme-light .footer__menu__icon--dark {
    opacity: 0;
  }

  @media (width < 576px) {
    .footer__content {
      justify-content: center;
    }

    .footer__developed {
      display: none;
    }
  }
</style>
