---
import { Image } from "astro:assets";

import { Monitor, Smartphone } from "@lucide/astro";

import type { Videos } from "../../constants/projects";

import { useTranslations } from "../../i18n/utils";
import type { Locale } from "../../i18n/config";

import Switch from "../Switch/Switch.astro";

import macbookImage from "../../assets/macbook.png";
import iphoneImage from "../../assets/iphone.png";

interface Props {
  videos: Videos;
}

const { videos } = Astro.props;

const prefersReducedMotion = false;

const t = useTranslations(Astro.currentLocale as Locale);
---

<ares-video-player class="video video--mobile">
  <Switch
    className="video__switch"
    ariaLabels={{
      left: t("Labels.show-desktop-video"),
      right: t("Labels.show-mobile-video"),
    }}
  >
    <Monitor slot="icon-left" />
    <Smartphone slot="icon-right" />
  </Switch>
  <div class="video__wrapper">
    <Image class="video__frame video__frame--mobile" src={iphoneImage} alt="" />
    <Image
      class="video__frame video__frame--desktop"
      src={macbookImage}
      alt=""
    />
    <video
      controls
      class="video__player video__player--mobile"
      poster={videos.mobile.poster}
      autoplay={!prefersReducedMotion}
      muted
      loop
    >
      <source src={videos.mobile.src} type="video/webm" />
    </video>
    <video
      controls
      class="video__player video__player--desktop"
      poster={videos.desktop.poster}
      autoplay={!prefersReducedMotion}
      muted
      loop
    >
      <source src={videos.desktop.src} type="video/webm" />
    </video>
  </div>
</ares-video-player>

<style>
  .video {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .video__wrapper {
    position: relative;
  }

  .video--mobile .video__wrapper {
    margin: 0 auto;
    max-width: 320px;
  }

  .video--desktop .video__wrapper {
    max-width: 750px;
  }

  .video__frame {
    display: none;
    margin: auto;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .video--mobile .video__frame--mobile {
    display: block;
  }

  .video--desktop .video__frame--desktop {
    display: block;
  }

  .video__player {
    display: none;
    left: 12.4%;
    position: absolute;
    top: 5.7%;
    width: 75.4%;
  }

  .video--mobile .video__player--mobile {
    display: block;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    left: 5.7%;
    overflow: hidden;
    top: 8.5%;
    width: 89.5%;
  }

  .video--desktop .video__player--desktop {
    display: block;
  }
</style>
