---
import { Image } from "astro:assets";

import { ChevronLeft, ChevronRight, Monitor, Smartphone } from "@lucide/astro";

import type { Locale } from "../../i18n/config";
import { useTranslations } from "../../i18n/utils";

import { type Project } from "../../constants/projects";

import Switch from "../Switch/Switch.astro";
import Modal from "../Modal/Modal.astro";
import Carousel from "../Carousel/Carousel.astro";

interface Props {
  id: string;
  title: string;
  intro: string;
  projects: Project[];
}

const t = useTranslations(Astro.currentLocale as Locale);
const { id, intro, title, projects } = Astro.props;
---

<ares-projects-list data-id={id}>
  <div class="projects__title-wrapper">
    <h3 id={id} class="projects__title">
      {title}
    </h3>
    <Switch
      id={`${id}-switch`}
      ariaLabels={{
        left: t("Labels.show-mobile-screenshots"),
        right: t("Labels.show-desktop-screenshots"),
      }}
    >
      <Smartphone slot="icon-left" />
      <Monitor slot="icon-right" />
    </Switch>
  </div>
  <p class="projects-list__intro">
    {intro}
  </p>
  <div class="project__carousel project__carousel--desktop" data-js="wrapper">
    <button
      type="button"
      class="project__carousel__arrow project__carousel__arrow--left"
      data-js="prev"
      aria-label={t("Labels.previous")}
    >
      <ChevronLeft class="project__carousel__arrow__icon" />
    </button>
    <button
      type="button"
      class="project__carousel__arrow project__carousel__arrow--right"
      data-js="next"
      aria-label={t("Labels.next")}
    >
      <ChevronRight class="project__carousel__arrow__icon" />
    </button>
    <Carousel labelledById={id} id={`${id}-carousel`}>
      {
        projects.map((project) => (
          <li class="embla__slide projects__slide">
            <button
              type="button"
              class="project"
              data-project-id={project.id}
              data-project-title={project.title}
            >
              <Image
                class="project__img project__img--desktop"
                src={project.images.desktop}
                alt=""
              />
              <Image
                class="project__img project__img--mobile"
                src={project.images.mobile}
                alt=""
              />
              <h4 class="project__title">{project.title}</h4>
            </button>
          </li>
        ))
      }
    </Carousel>
  </div>
  <Modal id={`${id}-modal`} />
</ares-projects-list>

<style>
  .project {
    background-color: transparent;
    border: 0;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    padding: 0;
  }

  .project__title {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
  }

  /* Projects carousel */

  .project__carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
  }

  .project__carousel__arrow {
    background-color: transparent;
    border: 0;
    bottom: 0;
    color: var(--color-text);
    filter: drop-shadow(0 0 3px #000);
    font-size: 2rem;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .project__carousel__arrow--left {
    left: 0;
  }

  .project__carousel__arrow--right {
    right: 0;
  }

  .project__img {
    display: none;
  }

  .project__carousel--mobile .project__img {
    max-width: 300px;
    width: 100%;
  }

  .project__carousel--mobile .project__img--mobile {
    display: block;
  }

  .project__carousel--desktop .project__img--desktop {
    display: block;
  }

  .project__img--modal {
    display: block;
    height: auto;
    margin-inline: auto;
    max-height: 600px;
    max-width: 600px;
    width: auto;
  }

  .projects__title-wrapper {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .projects__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
  }

  .projects-list__intro {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .projects__slide {
    flex: 0 0 28%;
    margin: 0 0.5rem;
  }

  .project__carousel--mobile .projects__slide {
    flex: 0 0 25%;
  }

  @media (width < 1100px) {
    .projects__slide {
      flex: 0 0 40%;
    }
  }

  @media (width < 768px) {
    .projects__title-wrapper {
      flex-direction: column;
    }

    .projects__title {
      font-size: 2rem;
    }

    .projects__slide {
      flex: 0 0 50%;
    }

    .project__title {
      font-size: 1rem;
    }

    .project__links {
      flex-direction: column;
    }

    .project__carousel__arrow--left {
      left: -2rem;
    }

    .project__carousel__arrow--right {
      right: -2rem;
    }
  }
</style>
